.modal-content{
    background-color: lightgreen;
}
.btn-primary{
    background-color: darkgreen;
    color: yellow;
    border-color: black;
}
.modal-header{
    background-color: darkgreen;
    color:yellow;
}
